.popup__container {
  margin: 50vh auto 0;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  transform: translateY(-50%);
  max-width: 430px;
  height: min-content;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
