.profile__edit-info {
  border: none;
  background: none;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  align-self: center;
  transform: translateY(-50%);
  background-size: 10px 10px;
  background-image: url(../../../images/icons/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .profile__edit-info {
    width: 18px;
    height: 18px;
    transform: translateY(50%);
    background-size: 7.5px 7.5px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    align-self: start;
  }
}
